@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  background-color: aliceblue;
  text-decoration: none;
  border-radius: 20px;
  color:#25274A;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #b9c7fa;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}
